#Whale CNN Data
/Humpback Whale Identification/data
/Humpback Whale Identification/output.csv

# Fourth Brain Idenpendent Project Data
/Fourth Brain Independent Project - Histopathologic Cancer Detection/data
