#Whale CNN Data
/Humpback Whale Identification/whale-categorization-playground
/Humpback Whale Identification/whale-categorization-playground/test
/Humpback Whale Identification/whale-categorization-playground/train
/Humpback Whale Identification/whale-categorization-playground/train.csv
/Humpback Whale Identification/whale-categorization-playground/sample_submission.csv
/Humpback Whale Identification/output.csv
