# Whale CNN Data
/Humpback Whale Identification/input
/Humpback Whale Identification/excess
/Humpback Whale Identification/output/cropping.model
/Humpback Whale Identification/output.csv

# Fourth Brain Idenpendent Project Data
/Fourth Brain Independent Project - Histopathologic Cancer Detection/data/


# MNIST CNN Data
/MNIST Digit Recognizer/data
/MNIST Digit Recognizer/.ipynb_checkpoints
MNIST Digit Recognizer/submission.csv
MNIST Digit Recognizer/submission_qmnist.csv

# KITS21 Segmentation Project
kits21/examples/
kits21/kits21/